@model IEnumerable<ScisaAPI.Models.Pokemon>

@{
    ViewData["Title"] = "Listado de Pokémon";
    var listaEspecies = ViewBag.ListaEspecies as List<PokemonEspecie>;    
}

<h2>@ViewData["Title"]</h2>

<form method="get" asp-action="Listado">
    <div class="form-group row">
        <input type="text" name="filtro.Nombre" value="@Context.Request.Query["filtro.Nombre"]" placeholder="Buscar por nombre" class="col-md-2" />

        <select name="filtro.EspecieID" class="col-md-2">
        <option value="">TODO</option>
            @{
                if(listaEspecies != null)
                {
                    foreach (var e in listaEspecies)
                    {
                        //Busca si la opción actual es la misma que se encuentra en el filtro para seleccionarla
                        var especie = Context.Request.Query["filtro.EspecieID"];
                        var opcionSeleccionada = (e.Id.ToString() == especie) ? true : false;
                        <option value="@e.Id" selected="@opcionSeleccionada">
                            @e.Nombre
                        </option>
                    }
                }                
            }
    </select>

        <button type="submit" class="col-md-2 btn btn-info" style="color:white">Buscar</button>
        <a href="@Url.Action("Listado", "Pokemon")" class="col-md-2 btn btn-primary">Limpiar</a>
        <a href="@Url.Action("ExportarExcel", "Pokemon")" class="col-md-2 btn btn-success">Descargar Excel</a>
        <a href="@Url.Action("EnviarCorreo", "Pokemon")" class="col-md-2 btn btn-warning">Enviar correo</a>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>            
            <th>Imagen</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Id</td>
                <td><a href="#" class="ver-detalles" data-id="@p.Id">@p.Nombre</a></td>
                <td>
                    <img src="@p.Imagen" alt="@p.Nombre" style="width: 64px; height: 64px;" />
                </td>
            </tr>
        }
    </tbody>
</table>
<nav>
    <ul class="pagination">
        @for (int i = 1; i <= (int)ViewBag.TotalPaginas; i++)
        {
            //Para no perder el filtrado, obtiene sus valores y los concatena en la URL
            var nombre = Context.Request.Query["filtro.Nombre"];
            var especieID = Context.Request.Query["filtro.EspecieID"];

            var url = Url.Action("Listado", "Pokemon") + $"?filtro.Nombre={nombre}&filtro.EspecieID={especieID}&filtro.Pagina={i}";

            <li class="page-item @(i == (int)ViewBag.PaginaActual ? "active" : "")">
                <a class="page-link" href="@url">@i</a>
            </li>
        }
    </ul>
</nav>
<!--Modal para los detalles de pokemon-->
<div class="modal fade" id="pokemonModal" tabindex="-1" aria-labelledby="pokemonModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pokemonModalLabel">Detalles del Pokémon</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <p><strong>Nombre:</strong> <span id="modalNombre"></span></p>
                <p><strong>Altura:</strong> <span id="modalAltura"></span></p>
                <p><strong>Peso:</strong> <span id="modalPeso"></span></p>
                <p><strong>Habilidad:</strong> <span id="modalHabilidad"></span></p>
                <img id="modalImagen" src="" alt="modalNombre" class="d-block mx-auto" />
            </div>
        </div>
    </div>
</div>
@section Scripts {    
    <script>
        //Alerta
        @if (TempData["Alerta"] != null)
        {
            var mensaje = @Html.Raw(Json.Serialize(TempData["Alerta"]));
            <text>alert(@mensaje);</text>
        }        
    </script>
    <script>
        //Llenado de modal al darle clic al nombre de pokemon
        document.querySelectorAll('.ver-detalles').forEach(link => {
            link.addEventListener('click', async function (e) {
                e.preventDefault();
                const id = this.dataset.id;

                try {
                    //Se hace la peticion
                    const response = await fetch(`/Pokemon/ObtenerDetalle/${id}`);
                    if (!response.ok) throw new Error("No se pudo obtener el Pokemon.");

                    const data = await response.json();                    

                    // Se asignan los valores al modal
                    document.getElementById('modalNombre').textContent = data.nombre;
                    document.getElementById('modalAltura').textContent = data.altura;
                    document.getElementById('modalPeso').textContent = data.peso;
                    document.getElementById('modalHabilidad').textContent = data.habilidad;
                    document.getElementById('modalImagen').src = data.imagen;

                    const modal = new bootstrap.Modal(document.getElementById('pokemonModal'));
                    modal.show();
                } catch (err) {
                    alert("Ocurrió un error al cargar los detalles.");
                }
            });
        });
    </script>
}
