@model IEnumerable<ScisaAPI.Models.Pokemon>

@{
    ViewData["Title"] = "Listado de Pokémon";
    var listaEspecies = ViewBag.ListaEspecies as List<PokemonEspecie>;
}

<h2>@ViewData["Title"]</h2>

<form method="get" asp-action="Listado">
    <div class="form-group row">
        <input type="text" name="filtro.Nombre" value="@Context.Request.Query["filtro.Nombre"]" placeholder="Buscar por nombre" class="col-md-3" />

        <select name="filtro.EspecieID" class="col-md-3">
        <option value="">TODO</option>
            @{
                if(listaEspecies != null)
                {
                    foreach (var e in listaEspecies)
                    {
                        //Busca si la opción actual es la misma que se encuentra en el filtro para seleccionarla
                        var especie = Context.Request.Query["filtro.EspecieID"];
                        var opcionSeleccionada = (e.Id.ToString() == especie) ? true : false;
                        <option value="@e.Id" selected="@opcionSeleccionada">
                            @e.Nombre
                        </option>
                    }
                }                
            }
    </select>

        <button type="submit" class="col-md-2 btn btn-info" style="color:white">Buscar</button>
        <a href="@Url.Action("Listado", "Pokemon")" class="col-md-2 btn btn-primary">Limpiar</a>
        <a href="@Url.Action("ExportarExcel", "Pokemon")" class="col-md-2 btn btn-success">Descargar Excel</a>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>            
            <th>Imagen</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Nombre</td>
                <td>
                    <img src="@p.Imagen" alt="@p.Nombre" style="width: 64px; height: 64px;" />
                </td>
            </tr>
        }
    </tbody>
</table>
<nav>
    <ul class="pagination">
        @for (int i = 1; i <= (int)ViewBag.TotalPaginas; i++)
        {
            //Para no perder el filtrado, obtiene sus valores y los concatena en la URL
            var nombre = Context.Request.Query["filtro.Nombre"];
            var especieID = Context.Request.Query["filtro.EspecieID"];

            var url = Url.Action("Listado", "Pokemon") + $"?filtro.Nombre={nombre}&filtro.EspecieID={especieID}&filtro.Pagina={i}";

            <li class="page-item @(i == (int)ViewBag.PaginaActual ? "active" : "")">
                <a class="page-link" href="@url">@i</a>
            </li>
        }
    </ul>
</nav>
@section Scripts {
    <script>
        @if (TempData["Alerta"] != null)
        {
                <text>
                    alert("@TempData["Alerta"]");
                </text>
        }
    </script>
}
